---
title: Home
---
<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>

</div><!-- .welcome -->
<div class="home">
  <div class="information">
    <h1>Andy Yan</h1>
    <p>UC Berkeley Student. Explore my <a href="/projects.html">projects</a>.</p>
    <div class="social-icons">
      <a href="https://github.com/AndyLc"><%= image_tag "social-icons/SVG/Github-black.svg" %></a>
      <!--
      Facebook-color / Facebook-black
      Github-color / Github-black
      LinkedIn-color / LinkedIn-black
      -->
      <a href="https://www.linkedin.com/in/andy-yan-814796121"><%= image_tag "social-icons/SVG/LinkedIn-black.svg" %></a><hr>
      yan.andy4@gmail.com
    </div>
  </div>
  <div class="tooltips-expand">
    <div class="brain out">
      <strong>Education: </strong>
      <ul>
        <li>University: UC Berkeley</li><br>
        <li>Majors: Statistics / Computer Science</li><br>
        <br>
        <strong>Theory/Applications Courses:</strong>
        <ul>
          <li>CS188: Artificial Intelligence</li><br>
          <li>EE126: Probability & Random Processes</li><br>
          <li>CS170: Efficient Algorithms and Intractable Problems</li><br>
          <li>CS61B: Data Structures</li><br>
          <li>MATH 54: 	Linear Algebra and Differential Equations</li>
        </ul>
        <strong>Systems Courses:</strong>
        <ul>
          <li>CS162: Operating Systems</li><br>
          <li>CS186: Database Systems</li><br>
          <li>CS161: Computer Security</li><br>
          <li>CS168: Internet Architecture and Protocols</li><br>
          <li>CS61C: Computer Architecture</li>
        </ul>
      </ul>
      <ul>
        <strong>Online/Self-Study Courses:</strong>
        <ul>
          <li>Stanford CS229: Machine Learning</li>
        </ul>
      </ul>
      <a class="back">Back</a>
    </div>
    <div class="heart out">
      <strong>Interests: </strong>
      <ul>
        <li>Data Mining</li><br>
        <li>Human Robotic Interactions</li><br>
        <li>Game Theory & AI</li>
      </ul>
      <a class="back">Back</a>
    </div>
    <div class="hand out">
      <strong>Tools: </strong>
      <ul>
        <strong>General</strong>
        <ul>
            <li>Scala</li><br>
            <li>Python</li><br>
            <li>Java</li><br>
            <li>C++ / C</li>
            <li>SQL</li>
        </ul>
        <strong>Web Development</strong>
        <ul>
          <li>Ruby on Rails</li><br>
          <li>MEAN Stack</li><br>
          <li>SASS</li><br>
          <li>MySQL, postgreSQL, mongoDB</li>
        </ul>
        <strong>Mobile Development</strong>
        <ul>
          <li>React Native</li>
        </ul>
      </ul>
      <a class="back">Back</a>
    </div>
  </div>
  <div class="man">
    <div class="circles brain">
     <div class="circle circle-1"></div>
     <div class="circle circle-2"></div>
     <div class="circle circle-3"></div>
     <div class="circle circle-4"></div>
    </div>
    <div class="circles heart">
     <div class="circle circle-1"></div>
     <div class="circle circle-2"></div>
     <div class="circle circle-3"></div>
     <div class="circle circle-4"></div>
    </div>
    <div class="circles hand">
     <div class="circle circle-1"></div>
     <div class="circle circle-2"></div>
     <div class="circle circle-3"></div>
     <div class="circle circle-4"></div>
    </div>
    <%= image_tag "man.png", :class => "man" %>
    <div class="hover-node">
      <div class="brain">
      </div>
      <div class="heart">
      </div>
      <div class="hand">
      </div>
    </div>
    <div class="man-node-tooltips">
      <div class="brain">
        <strong>Education</strong>
      </div>
      <div class="heart">
        <strong>Interests</strong>
      </div>
      <div class="hand">
        <strong>Tools</strong>
      </div>
    </div>
  </div>
</div>
